<section class="bloc_article">

<ul>
<% @posts.each do |post| %>
	<li>
		<div class="article">
			<div class="article_title">
				<%= link_to post.title, edit_post_path(post) %>
				<br><br>
				<%= image_tag(post.picture_url(:thumbnail), :width => 300, :height => 215) %>
			</div>

			<div class="article_tag">
				<%= post.tag %>
			</div>
		</div>
	</li>

<% end %>
</ul>

<div class="create_post_button">
<%= link_to "create post", new_post_path %>
</div>

</section>
