/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= normalize.css
 *= require_self
 *= loading.css
 *= social-icons.css
 *= carrousel.css
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require spotlight_articles.scss
 */

/*** POLICES ***/
@font-face {
  font-family: 'Raleway';
  src: asset-url('raleway-black-webfont.eot');
  src: asset-url('raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('raleway-black-webfont.woff2') format('woff2'),
  asset-url('raleway-black-webfont.woff') format('woff'),
  asset-url('raleway-black-webfont.ttf') format('truetype'),
  asset-url('raleway-black-webfont.svg#ralewayblack') format('svg');
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: asset-url('raleway-blackitalic-webfont.eot');
  src: asset-url('raleway-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('raleway-blackitalic-webfont.woff2') format('woff2'),
  asset-url('raleway-blackitalic-webfont.woff') format('woff'),
  asset-url('raleway-blackitalic-webfont.ttf') format('truetype'),
  asset-url('raleway-blackitalic-webfont.svg#ralewayblack_italic') format('svg');
  font-weight: black;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: asset-url('raleway-bold-webfont.eot');
  src: asset-url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('raleway-bold-webfont.woff2') format('woff2'),
  asset-url('raleway-bold-webfont.woff') format('woff'),
  asset-url('raleway-bold-webfont.ttf') format('truetype'),
  asset-url('raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: asset-url('raleway-bolditalic-webfont.eot');
  src: asset-url('raleway-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('raleway-bolditalic-webfont.woff2') format('woff2'),
  asset-url('raleway-bolditalic-webfont.woff') format('woff'),
  asset-url('raleway-bolditalic-webfont.ttf') format('truetype'),
  asset-url('raleway-bolditalic-webfont.svg#ralewaybold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: asset-url('raleway-regular-webfont.eot');
  src: asset-url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('raleway-regular-webfont.woff2') format('woff2'),
  asset-url('raleway-regular-webfont.woff') format('woff'),
  asset-url('raleway-regular-webfont.ttf') format('truetype'),
  asset-url('raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: asset-url('raleway-italic-webfont.eot');
  src: asset-url('raleway-italic-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('raleway-italic-webfont.woff2') format('woff2'),
  asset-url('raleway-italic-webfont.woff') format('woff'),
  asset-url('raleway-italic-webfont.ttf') format('truetype'),
  asset-url('raleway-italic-webfont.svg#ralewayitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/*** GÉNÉRAL ***/

/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

* {
  padding: 0;
  margin: 0;
}

html {
  margin-top: 4rem;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 50px;} /* must be same height as the footer */

footer {position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  background-color: #756969;
}

/*Opera Fix footer*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

ul {
  margin:0px;
  padding:0px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  margin: 0.83em 0;
}

h2 {
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2em;
  margin-top: 2px;
}

img{
  border: 0;
}

/*** MENU ***/
.menu {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  height: 3.1rem;
  background: #d7d7d7;
  -moz-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset, 0 0.1rem 0.2rem #999;
  -webkit-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset, 0 0.1rem 0.2rem #999;
  -ms-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset, 0 0.1rem 0.2rem #999;
  -o-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset, 0 0.1rem 0.2rem #999;
  box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset, 0 0.1rem 0.2rem #999;
  z-index: 100;
}

/*.menu:after {
  content: " ";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 14%;
  width: 72%;
  height: 3.1rem;
  border-radius: 7.5rem / 0.8rem;
  -moz-box-shadow: 0 0 1rem black;
  -webkit-box-shadow: 0 0 1rem black;
  -ms-box-shadow: 0 0 1rem black;
  -o-box-shadow: 0 0 1rem black;
  box-shadow: 0 0 1rem black;
}*/

.menu li {
  display: inline-block;
  list-style: none; /* pour IE7 */
}

.menu a{
  display: inline-block;
  height: 3.1rem;
  width: 4.375rem;
  margin:0;
  padding: 0 1.157rem;
  line-height: 3.1rem;
  border-right: 0.1rem solid #4A4A4A;
  text-decoration: none;
  color: #4A4A4A;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  background:#d7d7d7;
  -moz-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset;
  -webkit-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset;
  -ms-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset;
  -o-box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset;
  box-shadow: 0 4.7rem 2.5rem -2.5rem #ffffff inset;
  -webkit-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  -moz-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  -o-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  -ms-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  transition: background 1s ease, box-shadow 1s ease, color 1s ease;
}

.menu :first-child a {
  border-left: 0;
}

.menu :last-child a {
  border-right: 0;
}

.menu a:hover {
  color: #CD1126;
  background: #d7ac00;
  -moz-box-shadow: 0 4.5rem 2.5rem -2.5rem #ffd52f inset;
  -webkit-box-shadow: 0 4.5rem 2.5rem -2.5rem #ffd52f inset;
  -ms-box-shadow: 0 4.5rem 2.5rem -2.5rem #ffd52f inset;
  -o-box-shadow: 0 4.5rem 2.5rem -2.5rem #ffd52f inset;
  box-shadow: 0 4.5rem 2.5rem -2.5rem #ffd52f inset;
}

.menu a:focus, .menu-selected a {
  color: white;
  background: #2fab58;
  -moz-box-shadow: 0 3.5rem 2.5rem -2.5rem #00812b inset;
  -webkit-box-shadow: 0 3.5rem 2.5rem -2.5rem #00812b inset;
  -ms-box-shadow: 0 3.5rem 2.5rem -2.5rem #00812b inset;
  -o-box-shadow: 0 3.5rem 2.5rem -2.5rem #00812b inset;
  box-shadow: 0 3.5rem 2.5rem -2.5rem #00812b inset;
}

.contact a,
.contact a:focus {
  color: white;
  background: #d63c4e;
  -moz-box-shadow: 0 3.5rem 2.5rem -2.5rem #ac0e20 inset;
  -webkit-box-shadow: 0 3.5rem 2.5rem -2.5rem #ac0e20 inset;
  -ms-box-shadow: 0 3.5rem 2.5rem -2.5rem #ac0e20 inset;
  -o-box-shadow: 0 3.5rem 2.5rem -2.5rem #ac0e20 inset;
  box-shadow: 0 3.5rem 2.5rem -2.5rem #ac0e20 inset;
}

/*** PAGE D'ACCUEIL ***/
.home_container {
  width: auto;
  height: 12.5em;
  margin: 0.65em 7.5em;
  background-image: url('/home_logo_mali-info.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

.social_icons {
  position: fixed;
  top: 12em;
  right: 0.5em;
  padding: 0em;
  z-index: 100;
}

@media (max-width: 1274px) {
  .social_icons {
  display: none;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 722px) {
  .container {
  width: 350px;
  }
  .spotlight_article,
  .spotlight_article_green,
  .spotlight_article_yellow,
  .spotlight_article_red,
  .article {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .container {
  width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
  width: 760px;
  }
}

@media (min-width: 1053px) {
  .container {
  width: 1115px;
  }
  .container_page {
  width: 1000px;
  }
}

.tag_intro {
  position: relative;
  display: inline-block;
  color: white;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  height: 2em;
  width: 9.5em;
  overflow: hidden;
}

@media (max-width: 1078px) {
  .tag_list {
    display: none;
  }
  .spotlight_article,
  .spotlight_article_green,
  .spotlight_article_yellow,
  .spotlight_article_red,
  .article {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
}

.tag_intro p {
  display: block;
  padding-left: 0.7em;
  margin-top: 0.4em;
}

.tag_intro:before {
  content: "";
  position: absolute;
  z-index: -10;
  border-width: 2em 1.4em 0 0;
  top: 50%;
  right: 0;
  width: 100%;
  border-style: solid;
  border-color: rgb(205, 17, 38) transparent;
  overflow: hidden;
}

.tag_intro:after {
  content: "";
  position: absolute;
  z-index: -10;
  border-width: 0 1.4em 2em 0;
  bottom: 50%;
  right: 0;
  width: 100%;
  border-style: solid;
  border-color: rgba(205, 17, 38, 1) transparent;
  overflow: hidden;
}

.tags {
  display: inline-block;
  margin: 0 0.5em;
  margin-top: -2.6em;
  width: 12em;
  line-height: 3.1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  background: white;
}

.tags:hover {
  background: #d7ac00;
  -moz-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -webkit-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -ms-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -o-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
}

.tags a {
  color: #4A4A4A;
}

.marquee {
  width: 100%;
  height: 3rem;
  margin: 1rem auto;
  overflow: hidden;
  position: relative;
  background-color: #756969;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  -webkit-transition: background-color 350ms;
  -moz-transition: background-color 350ms;
  -o-transition: background-color 350ms;
  -ms-transition: background-color 350ms;
  transition: background-color 350ms;
}

.marquee p {
  position: absolute;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  transform:translateX(100%);
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
}

.marquee p a {
  color: white;
}

.marquee p:nth-child(1) {
  animation: left-one 20s ease infinite;
  -moz-animation: left-one 20s ease infinite;
  -webkit-animation: left-one 20s ease infinite;
}

.marquee p:nth-child(2) {
  animation: left-two 20s ease infinite;
  -moz-animation: left-two 20s ease infinite;
  -webkit-animation: left-two 20s ease infinite;
}

/** Mozilla Firefox Keyframes **/
@-moz-keyframes left-one {
  0%  {
    -moz-transform:translateX(100%);
  }
  10% {
    -moz-transform:translateX(0);
  }
  40% {
    -moz-transform:translateX(0);
  }
  50% {
    -moz-transform:translateX(-100%);
  }
  100%{
    -moz-transform:translateX(-100%);
  }
}
@-moz-keyframes left-two {
  0% {
    -moz-transform:translateX(100%);
  }
  50% {
    -moz-transform:translateX(100%);
  }
  60% {
    -moz-transform:translateX(0);
  }
  90% {
    -moz-transform:translateX(0);
  }
  100%{
    -moz-transform:translateX(-100%);
  }
}

/** Webkit Keyframes **/
@-webkit-keyframes left-one {
  0% {
    -webkit-transform:translateX(100%);
  }
  10% {
    -webkit-transform:translateX(0);
  }
  40% {
    -webkit-transform:translateX(0);
  }
  50% {
    -webkit-transform:translateX(-100%);
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}
@-webkit-keyframes left-two {
  0% {
    -webkit-transform:translateX(100%);
  }
  50% {
    -webkit-transform:translateX(100%);
  }
  60% {
    -webkit-transform:translateX(0);
  }
  90% {
    -webkit-transform:translateX(0);
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}

/*** CARROUSEL ***/
/*p#carrousel_controls {
  text-align: center;
}

#carrousel_controls span {
  padding-right: 2em;
  cursor: pointer;
}

#carrousel {
  position:relative;
  height: 420px;
  width: 630px;
  margin: 0 auto 10px;
}

#carrousel img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#carrousel img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}*/

/*** ARTICLE PAGE THÉMATIQUE ***/
.digg_pagination {
  background: white;
  cursor: default;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.digg_pagination > a:first-child {
  border-radius: 7px 0 0 7px;
}
.digg_pagination > a:last-child {
  border-radius: 0 7px 7px 0;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.3em 0.5em;
  display: block;
  float: left;
  margin-right: -1px;
}
.digg_pagination > .disabled:first-child {
  border-radius: 7px 0 0 7px;
}
.digg_pagination > .disabled:last-child {
  border-radius: 0 7px 7px 0;
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
  height: 18px;
  cursor: not-allowed;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2fab58;
  color: white;
  border: 1px solid #2fab58;
  height: 18px;
}
.digg_pagination a {
  text-decoration: none;
  color: #009933;
  border: 1px solid #c7edd3;
  height: 18px;
  margin-right: -1px;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #009933;
  background: #def7e6;
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .digg_pagination {
  height: 1%;
}
*:first-child + html .digg_pagination {
  overflow: hidden;
}

.bloc_article {
  display: block;
  width: 45em;
  float: left;
}

.bloc_article li {
  list-style-type: none;
}

.article {
  display: block;
  width: 670px;
  height: 14em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  border-bottom: 0.05em solid #C0C0C0;
  text-decoration: none;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3em;
}

.article:hover .article_title {
  text-decoration: underline;
}

.article:hover .next,
.spotlight_article:hover .next {
  background: rgba(0, 153, 255, 1);
  padding: 6px 34px 6px 14px !important;
}

.spotlight_article_green:hover .next_spotlight,
.spotlight_article_yellow:hover .next_spotlight,
.spotlight_article_red:hover .next_spotlight {
  background: rgba(255, 255, 255, .2) !important;;
  padding: 6px 34px 6px 14px !important;
  border: 2px solid transparent;
}

.article:hover .next:after,
.spotlight_article:hover .next:after,
.spotlight_article_green:hover .next:after,
.spotlight_article_yellow:hover .next:after,
.spotlight_article_red:hover .next:after {
  opacity: 1;
  margin-left: 0;
}

.article a {
  text-decoration: none;
  color: #4A4A4A;
}

.article_title {
  display: block;
  height: 58px;
}

.article_title h1 {
  margin-top: 0;
  height: 48px;
}

.article_picture {
  display: block;
  float: left;
  width: 300px;
  height: 200px;
}

.article_description {
  text-align: center;
  display: block;
  float: left;
  width: 350px;
  height: 200px;
  padding-left: 20px;
}

.article_summary {
  display: block;
  width: 350px;
  height: 135px;
  text-align: justify;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 0.7em;
  color: #4A4A4A;
}

.next {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 20px;
  line-height: 1.7em;
  background: #cd1126;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  color: #fff !important;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.next a {
  color: inherit;
  text-decoration: none;
}

.next_spotlight {
  border: 2px solid white;
  background: transparent !important;
  text-shadow: 1px 1px 1px #4A4A4A;
}

.next:after {
  font-size: 32px;
  line-height: 1em;
  content:"\f105";
  opacity: 0;
  position: absolute;
  margin-left: -20px;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 7px; right: 5px;
  font-family: 'FontAwesome';
  speak: none; font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article_tag {
  display:block;
  margin: auto;
  width: 8em;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  color: #4A4A4A;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: white;
  background: #2fab58;
  -moz-box-shadow: 0 3.5em 2.5em -2.5em #00812b inset, 0 0.1em 0.2em #999;
  -webkit-box-shadow: 0 3.5em 2.5em -2.5em #00812b inset, 0 0.1em 0.2em #999;
  -ms-box-shadow: 0 3.5em 2.5em -2.5em #00812b inset, 0 0.1em 0.2em #999;
  -o-box-shadow: 0 3.5em 2.5em -2.5em #00812b inset, 0 0.1em 0.2em #999;
  box-shadow: 0 3.5em 2.5em -2.5em #00812b inset, 0 0.1em 0.2em #999;
}

/*** NEWS ***/

aside {
  display: block;
  float: left;
  width: 16em;
}

.news {
  display: block;
  width: 100%;
}

.news li {
  list-style-type: none;
}

.news_title {
  display: block;
  width: 100%;
  padding-bottom: 0.35em;
  border-bottom: 0.3em solid #009933;
}

.news_content {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.news_content:hover .news_article a {
  color: #A0A0A0;
}

.news_article {
  margin-top: .5em;
  padding-bottom: .7em;
  border-bottom: .1em solid #C0C0C0;
  height: 3.3em;
  text-align: justify;
}

.news_article a {
  text-decoration: none;
  color: #4A4A4A;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news_content:hover .news_article a:hover {
  color: black;
}

.news_article_picture {
  display: block;
  float: left;
}

.news_article_title {
  display: block;
  float: left;
  margin-left: 0.5em;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.8em;
  width: 14.8em;
}

.news_article_date {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: .75em;
  padding-top: .2em;
}

.news_article:hover .news_article a {
  color: #A0A0A0;
}

/*** EN BREF ***/

aside_inshort {
  display: block;
  float: left;
  width: 384px !important;
}

.inshort {
  display: block;
  width: 100%;
}

.inshort li {
  list-style-type: none;
}

.inshort_title {
  display: block;
  width: 100%;
  padding-bottom: 0.35em;
  border-bottom: 0.3em solid #009933;
}

.inshort_content {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.inshort_article {
  margin-top: .5em;
  padding-bottom: .7em;
  border-bottom: .1em solid #C0C0C0;
  height: 60.22px;
  text-align: justify;
}

.inshort_article a {
  text-decoration: none;
  color: #4A4A4A;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.inshort_article_title {
  display: block;
  float: left;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  width: 384px;
}

.inshort_att a:hover {
  text-decoration: underline;
}

.inshort_article_date {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: .75em;
  padding-top: .2em;
}

/*** PAGE ARTICLE ***/

.show_article {
  display: block;
  width: 630px;
  margin-left: 14%;
  margin-right: 3em;
  float: left;
}

.content_show p {
  margin-bottom: 15px;
}

/*** BOUTON ***/
.create_post_button a {
  display:block;
  float: left;
  margin: 2.5em;
  width: 8em;
  line-height: 3.1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #4A4A4A;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  background: #d7d7d7;
  -moz-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -webkit-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -ms-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -o-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -webkit-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  -moz-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  -o-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  -ms-transition: background 1s ease, box-shadow 1s ease, color 1s ease;
  transition: background 1s ease, box-shadow 1s ease, color 1s ease;
}

.create_post_button a:hover {
  float: left;
  color: #CD1126;
  background: #d7ac00;
  -moz-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -webkit-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -ms-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -o-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
}

.button_fixed {
  position: fixed;
  top: 213px;
  left: 0;
  z-index: 200;
}

.button_fixed a {
  margin: 0;
}

.button_fixed2 {
  top: 263px;
}

.button_fixed3 {
  top: 313px;
}

/*** FORMULAIRE ARTICLE ***/
.form {
  display: block;
  width: 670px;
  margin: auto;
}

fieldset {
  margin: 0;
  padding: 0;
}

.form label {
  line-height: 2em;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
}

.field input, .field textarea {
  background-color: rgba(196, 231, 182, 1);
  border: 0px solid rgba(255, 255, 255, 1);
  margin: 0px 0 5px;
  border-radius: 2px;
  padding: 1%;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  width: 98%;
}

.field input#message_name {
  margin-top: 5px;
}

.field textarea {
  resize:none;
  height: 130px;
}

input:focus, textarea:focus {
  outline-color: #75d948;
  outline-style: auto;
  outline-width: 5px;
}

input#post_title {
  width: 660px;
  line-height: 2em;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  padding-left: 0.5em;
  border: solid black 1px;
}

input#post_published_at {
  width: 155px;
  line-height: 2em;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  padding-left: 0.5em;
  border: solid black 1px;
}

/*textarea#post_content {
  width: 620px;
  -moz-box-shadow: 0 0.5em 5.5em -1.5em #999 inset;
  -webkit-box-shadow: 0 0.5em 5.5em -1.5em #999 inset;
  -ms-box-shadow: 0 0.5em 5.5em -1.5em #999 inset;
  -o-box-shadow: 0 0.5em 5.5em -1.5em #999 inset;
  box-shadow: 0 0.5em 5.5em -1.5em #999 inset;
  border: 2px inset;
}*/

/*textarea#post_content:focus {
  outline-color: #75d948;
  outline-style: auto;
  outline-width: 5px;
  -moz-box-shadow: 0 0.5em 5.5em -1.5em #75d948 inset;
  -webkit-box-shadow: 0 0.5em 5.5em -1.5em #75d948 inset;
  -ms-box-shadow: 0 0.5em 5.5em -1.5em #75d948 inset;
  -o-box-shadow: 0 0.5em 5.5em -1.5em #75d948 inset;
  box-shadow: 0 0.5em 5.5em -1.5em #75d948 inset;
}*/

input#post_picture {

}

input#post_tag_list {
  width: 660px;
  line-height: 2em;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  padding-left: 0.5em;
  border: solid black 1px;
}

input#post_title:focus,
input#post_tag_list:focus {
  outline-color: #75d948;
  outline-style: auto;
  outline-width: 5px;
}

input[type="submit"] {
  display:block;
  margin: 2.5em;
  width: 8em;
  line-height: 3.1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  color: #4A4A4A;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  background: #d7d7d7;
  -moz-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -webkit-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -ms-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  -o-box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
  box-shadow: 0 4.7em 2.5em -2.5em #ffffff inset, 0 0.1em 0.2em #999;
}

input[type="submit"]:hover {
  display:block;
  margin: 2.5em;
  width: 8em;
  line-height: 3.1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  color: #CD1126;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  background: #d7ac00;
  -moz-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -webkit-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -ms-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  -o-box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
  box-shadow: 0 4.5em 2.5em -2.5em #ffd52f inset, 0 0.1em 0.2em #999;
}

input[type='checkbox'] {
   width: 15px;
   height: 15px;
}

label[for=post_category_ids_1], label[for=post_category_ids_2],
label[for=post_category_ids_3], label[for=post_category_ids_4],
label[for=post_category_ids_5], label[for=post_category_ids_6],
label[for=post_category_ids_7] {
  padding: 0 .7em;
  font-weight: normal;
}

.form_title {
  line-height: 2em;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
}

.emphasize_boxes label {
  padding: 0 .7em;
  font-weight: normal;
}

/*** PAGE ARTICLE ***/
.article_page {
  width: 630px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.05em solid #C0C0C0;
  text-decoration: none;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3em;
}

.article_page a {
  text-decoration: none;
  color: #4A4A4A;
}

.article_page_title {
  display: block;
}

.article_page_date {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.6em;
}

.article_page_picture {
  display: block;
  float: left;
  width: 630px;
  height: 420px;
}

.article_content {
  display: block;
  padding-top: 30em;
  width: 630px;
  text-align: justify;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.7em;
  color: #4A4A4A;
}

/*** FORMULAIRE CONTACT ***/
.contact_form_container {
  display: block;
  width: 75%;
  max-width: 960px;
  margin: 40px auto;
}

.contact_form_picture {
  float: left;
  width: 50%;
  height: 530px;
  background-image: url('http://res.cloudinary.com/hd2c0qxh2/image/upload/v1437868851/bamako-mali-info.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  margin-right: 15px;
}

.contact_form {
  float: left;
  width: 364px;
  margin-top: 15px;
}

.contact_intro {
  margin: 10px 0;
  font-family: 'Raleway';
  font-size: 18px;
  text-align: justify;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #64b743;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #64b743;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #64b743;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #64b743;
}

.contact_form input[type="submit"] {
  margin-right: auto;
  margin-left: auto;
}

/*** FORMULAIRE LOGIN ***/
.login_form {
  display: block;
  width: 300px;
  margin: auto;
}

fieldset {
  border: none;
  text-align: center;
}

.login_form h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.login_form input[type="submit"] {
  margin-right: auto;
  margin-left: auto;
}

/*** ALERTE ***/
.alert {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 20px 10px 5px;
  padding-top: 3px;
  height: 37px;
  line-height: 1.7em;
  border: 2px solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.alert:hover {
  border: 2px solid transparent;
  padding-top: 1;
  font-size: 22px;
  height: 37px;
}

.alert-success {
  background: rgba(0, 129, 43, .1);
  color: #00812b !important;
}

.alert-success:hover {
  background: rgba(0, 129, 43, .3);
}

.alert-danger {
  background: rgba(205, 17, 38, .1);
  color: #cd1126 !important;
}

.alert-danger:hover {
  background: rgba(205, 17, 38, .3);
}

/*** FOOTER ***/
.footer_inner {
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Raleway';
}

/*===============================================================================================================================FORMAT SMARTPHONE PORTRAIT========  MAX-WIDTH: 320PX  =============*/
@media (max-width: 722px) {
  .menu {
    display: none;
  }

  .home_container {
    margin: 0.65em 0em;
    background-position: left;
    background-size: 230px;
    height: 10.5em;
  }

  .menu_tag {
    display: none;
  }

  .bloc_article {
    margin-left: 0;
    width: 100%;
  }

  .article {
    width: 96%;
    height: 160px;
    margin-bottom: 1em;
    padding: 0 2%;
    font-size: 1em;
  }

  .article_title {
    width: 100%;
  }

  .article_description {
    width: 175px;
    height: 100px;
    padding-left: 10px;
    font-size: 0.5em;
  }

  .article_picture {
    width: 150px;
    height: 100px;
  }
    .article_picture img{
      width: 150px;
      height: 100px;
    }

  .article_summary {
    width: 180px;
    height: 100px;
    font-size: 1.2em;
  }

  .next {
    display: none;
  }
}
