.carrousel {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.carrousel li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.carrousel li:first-child {
	position: relative;
	display: block;
	float: left;
}

.carrousel img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
/*===============================================================================================================================FORMAT TABLETTE ET SMARTPHONE==========MAX : 768PX===========*/
@media (max-width: 768px) {
	#zone_carrousel{
		margin-bottom: 2em;
		padding-left: 50px;
		padding-right: 50px;
		height:auto;
		max-height: 420px;
	}
	#container_carrousel {
		max-width:630px;
		width:100%;
		height:100%;
		margin:auto;
	}
}
/*===============================================================================================================================FORMAT PC=========MIN : 769PX============*/
@media (min-width: 769px) {
	#zone_carrousel{
		margin-bottom: 2em;
		padding-left: 50px;
		padding-right: 50px;
		height:auto;
		max-height: 420px;
		}
	#container_carrousel{
		max-width:630px;
		width:100%;
		height:100%;
		margin:auto;
	}
	.carrousel {
		box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 8px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
}
/*===============================================================================================================================FORMAT TABLETTE========  MAX: 768PX  / MIN: 601PX=============*/
@media (max-width:768px) and (min-width:601px){
	
	.carrousel {
		box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
}
/*===============================================================================================================================FORMAT SMARTPHONE========  MAX: 600PX  =============*/
@media (max-width: 600px) {
	#zone_carrousel{
		height:auto;
		max-height: 420px;
		padding:0;
	}
	
	#container_carrousel{
		padding:0;
		width:100%;
		height:100%;
		margin:auto;
	}
}
/*===============================================================================================================================FORMAT SMARTPHONE PAYSAGE========  MAX-HEIGHT: 320PX  =============*/
@media (max-height: 320px) {
	.carrousel{
		height:267px;
	}
}
