.bubblingG {
	text-align: center;
	width:100px;
	height:63px;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	margin: 31px auto;
	background: #009933;
	-moz-border-radius: 63px;
	-moz-animation: bubblingG 0.5s infinite alternate;
	-webkit-border-radius: 63px;
	-webkit-animation: bubblingG 0.5s infinite alternate;
	-o-border-radius: 63px;
	-o-animation: bubblingG 0.5s infinite alternate;
	-ms-border-radius: 63px;
	-ms-animation: bubblingG 0.5s infinite alternate;
	border-radius: 63px;
	animation: bubblingG 0.5s infinite alternate;
}

#bubblingG_1 {
	background-color:#009933;
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}

#bubblingG_2 {
	background-color:#FFCC00;
	-moz-animation-delay: 0.15s;
	-webkit-animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	-ms-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

#bubblingG_3 {
	background-color:#CD1126;
	-moz-animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

@-moz-keyframes bubblingG {
	0% {
		width: 13px;
		height: 13px;
		background-color:#ffffff;
		-moz-transform: translateY(0);
	}

	100% {
		width: 30px;
		height: 30px;
		-moz-transform: translateY(-26px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 13px;
		height: 13px;
		background-color:#ffffff;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 30px;
		height: 30px;
		-webkit-transform: translateY(-26px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 13px;
		height: 13px;
		background-color:#ffffff;
		-o-transform: translateY(0);
	}

	100% {
		width: 30px;
		height: 30px;
		-o-transform: translateY(-26px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 13px;
		height: 13px;
		background-color:#ffffff;
		-ms-transform: translateY(0);
	}

	100% {
		width: 30px;
		height: 30px;
		-ms-transform: translateY(-26px);
	}
}

@keyframes bubblingG {
	0% {
		width: 13px;
		height: 13px;
		background-color:#ffffff;
		transform: translateY(0);
	}

	100% {
		width: 30px;
		height: 30px;
		transform: translateY(-26px);
	}
}
