#spotlight {
	width: auto;
	margin: 0 auto;
}

.spotlight_article {
	display: block;
	float: left;
	width: 330px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;
	border-bottom: 0.05em solid #C0C0C0;
	text-decoration: none;
	font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.3em;
}

.spotlight_article a {
	text-decoration: none;
	color: #4A4A4A;
}

.spotlight_article p {
	margin: 0;
}

.focus_effect {
	width: 306px;
	height: 48px;
	margin-left: -0.35em;
	position: relative;
	display: inline-block;
	outline: none;
	padding: 0 20px;
	height: 90px;
	line-height: 90px;
	z-index: -10;
}

.spotlight_article:hover .focus_effect,
.spotlight_article:focus .focus_effect {
	outline: none;
}

.focus_effect::before,
.focus_effect::after {
	position: absolute;
	width: 88px;
	height: 2px;
	background: #4A4A4A;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
	pointer-events: none;
}

.focus_effect::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.focus_effect::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.spotlight_article:hover .focus_effect::before,
.spotlight_article:hover .focus_effect::after,
.focus_effect:focus::before,
.focus_effect:focus::after {
	opacity: 1;
}

.spotlight_article:hover .focus_effect::before,
.spotlight_article:focus .focus_effect::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.spotlight_article:hover .focus_effect::after,
.spotlight_article:focus .focus_effect::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.spotlight_article_title {
	margin-top: -87px;
	display: block;
}

.spotlight_article_title h1 {
	margin-top: 0;
	height: 68px;
}

.spotlight_article_picture {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: block;
	float: left;
	width: 330px;
}

.spotlight_article_description {
	text-align: center;
	display: block;
	float: left;
	width: 330px;
	height: 135px;
}

.spotlight_article_summary {
	display: block;
	float: left;
	width: 330px;
	height: 85px;
	text-align: justify;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 0.7em;
	color: #4A4A4A;
}

/******* Gestion des couleurs *******/

/******* Article vert *******/

.spotlight_article_green {
	position: relative;
	display: block;
	float: left;
	width: 330px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;
	border-bottom: 0.05em solid #C0C0C0;
	text-decoration: none;
	font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.3em;
	background: #00812b;
	z-index: 0;
}

.spotlight_article_green a {
	text-decoration: none;
	color: white;
}

.spotlight_article_green p {
	margin: 0;
}

.focus_effect_green {
	width: 306px;
	height: 48px;
	margin-left: -0.35em;
	position: relative;
	display: inline-block;
	outline: none;
	padding: 0 20px;
	height: 90px;
	line-height: 90px;
	z-index: -20;
}

.spotlight_article_green:hover .focus_effect_green,
.spotlight_article_green:focus .focus_effect_green {
	outline: none;
}

.focus_effect_green::before,
.focus_effect_green::after {
	position: absolute;
	width: 88px;
	height: 2px;
	background: white;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
	pointer-events: none;
}

.focus_effect_green::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.focus_effect_green::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.spotlight_article_green:hover .focus_effect_green::before,
.spotlight_article_green:hover .focus_effect_green::after,
.focus_effect_green:focus::before,
.focus_effect_green:focus::after {
	opacity: 1;
}

.spotlight_article_green:hover .focus_effect_green::before,
.spotlight_article_green:focus .focus_effect_green::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.spotlight_article_green:hover .focus_effect_green::after,
.spotlight_article_green:focus .focus_effect_green::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.spotlight_article_green_title {
	margin-top: -87px;
	display: block;
	text-shadow: 0.5px 0.5px 0.5px black;
}

.spotlight_article_green_title h1 {
	margin-top: 0;
	height: 68px;
}

.spotlight_article_green_picture {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: block;
	float: left;
	width: 330px;
}

.spotlight_article_green_description {
	text-align: center;
	display: block;
	float: left;
	width: 330px;
	height: 135px;
}

.spotlight_article_green_summary {
	display: block;
	float: left;
	width: 330px;
	height: 85px;
	text-align: justify;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 0.7em;
	text-shadow: 0.5px 0.5px 0.5px black;
}

/******* Article jaune *******/

.spotlight_article_yellow {
	position: relative;
	display: block;
	float: left;
	width: 330px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;
	border-bottom: 0.05em solid #C0C0C0;
	text-decoration: none;
	font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.3em;
	background: rgba(215, 172, 0, 1);
	z-index: 0;
}

.spotlight_article_yellow a {
	text-decoration: none;
	color: white;
}

.spotlight_article_yellow p {
	margin: 0;
}

.focus_effect_yellow {
	width: 306px;
	height: 48px;
	margin-left: -0.35em;
	position: relative;
	display: inline-block;
	outline: none;
	padding: 0 20px;
	height: 90px;
	line-height: 90px;
	z-index: -20;
}

.spotlight_article_yellow:hover .focus_effect_yellow,
.spotlight_article_yellow:focus .focus_effect_yellow {
	outline: none;
}

.focus_effect_yellow::before,
.focus_effect_yellow::after {
	position: absolute;
	width: 88px;
	height: 2px;
	background: white;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
	pointer-events: none;
}

.focus_effect_yellow::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.focus_effect_yellow::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.spotlight_article_yellow:hover .focus_effect_yellow::before,
.spotlight_article_yellow:hover .focus_effect_yellow::after,
.focus_effect_yellow:focus::before,
.focus_effect_yellow:focus::after {
	opacity: 1;
}

.spotlight_article_yellow:hover .focus_effect_yellow::before,
.spotlight_article_yellow:focus .focus_effect_yellow::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.spotlight_article_yellow:hover .focus_effect_yellow::after,
.spotlight_article_yellow:focus .focus_effect_yellow::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.spotlight_article_yellow_title {
	margin-top: -87px;
	display: block;
	text-shadow: 1px 1px 1px black;
}

.spotlight_article_yellow_title h1 {
	margin-top: 0;
	height: 68px;
}

.spotlight_article_yellow_picture {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: block;
	float: left;
	width: 330px;
}

.spotlight_article_yellow_description {
	text-align: center;
	display: block;
	float: left;
	width: 330px;
	height: 135px;
}

.spotlight_article_yellow_summary {
	display: block;
	float: left;
	width: 330px;
	height: 85px;
	text-align: justify;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 0.7em;
	text-shadow: 1px 1px 1px black;
}

/******* Article rouge *******/

.spotlight_article_red {
	position: relative;
	display: block;
	float: left;
	width: 330px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;
	border-bottom: 0.05em solid #C0C0C0;
	text-decoration: none;
	font-family: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.3em;
	background: #ac0e20;
	z-index: 0;
}

.spotlight_article_red a {
	text-decoration: none;
	color: white;
}

.spotlight_article_red p {
	margin: 0;
}

.focus_effect_red {
	width: 306px;
	height: 48px;
	margin-left: -0.35em;
	position: relative;
	display: inline-block;
	outline: none;
	padding: 0 20px;
	height: 90px;
	line-height: 90px;
	z-index: -20;
}

.spotlight_article_red:hover .focus_effect_red,
.spotlight_article_red:focus .focus_effect_red {
	outline: none;
}

.focus_effect_red::before,
.focus_effect_red::after {
	position: absolute;
	width: 88px;
	height: 2px;
	background: white;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
	pointer-events: none;
}

.focus_effect_red::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.focus_effect_red::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.spotlight_article_red:hover .focus_effect_red::before,
.spotlight_article_red:hover .focus_effect_red::after,
.focus_effect_red:focus::before,
.focus_effect_red:focus::after {
	opacity: 1;
}

.spotlight_article_red:hover .focus_effect_red::before,
.spotlight_article_red:focus .focus_effect_red::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.spotlight_article_red:hover .focus_effect_red::after,
.spotlight_article_red:focus .focus_effect_red::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.spotlight_article_red_title {
	margin-top: -87px;
	display: block;
	text-shadow: 1px 1px 1px black;
}

.spotlight_article_red_title h1 {
	margin-top: 0;
	height: 68px;
}

.spotlight_article_red_picture {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: block;
	float: left;
	width: 330px;
}

.spotlight_article_red_description {
	text-align: center;
	display: block;
	float: left;
	width: 330px;
	height: 135px;
}

.spotlight_article_red_summary {
	display: block;
	float: left;
	width: 330px;
	height: 85px;
	text-align: justify;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 0.7em;
	text-shadow: 1px 1px 1px black;
}
