<!DOCTYPE html>
<html>

<head>
	<title>Mali Info</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<nav class="menu">
		<li><a href="#">Accueil</a></li>
		<li><a href="#">Politique</a></li>
		<li><a href="#">Économie</a></li>
		<li><a href="#">Société</a></li>
		<li><a href="#">Musique</a></li>
		<li><a href="#">Sport</a></li>
		<li><a href="#">Monde</a></li>
		<li><a href="#">Vidéo</a></li>
		<li><a href="#">Contact</a></li>
	</nav>

	<%= yield %>

</body>
</html>
